* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jua";
}
html,
body {
    margin: 0;
    height: 100%;
}

input {
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 10em;
    width: 1em;
    text-align: center;
    background-color: #FFE4E8;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.box {
    justify-content: center;
    margin-right: 3em;
    margin-left: 3em;

}

.answer {
    padding: 10px;
    text-align: center;
}

.block {
    border: none;
    border-radius: 10px;
    outline: none;
    text-align: center;
    background-color: #b9e6fe;
    width: 12em;
    font-size: 1.5em;
    margin-top: 0.5em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}


.note {
    display: flex;
    justify-content: space-around;

    align-items: center;
}



.title {
    display: flex;
    justify-content: center;
    height: 5em;
    margin-top: 3em;
}

.btn-primary {
    width: 100px;
    /* bgco - back ground color */
    background-color: #b9e6fe;
    font-size: 50px;
    padding: 20px;
    margin: 10px;
    border: 0;
    border-radius:  1em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

}

#container1 {
    display: flex;
    justify-content: space-between;
    -ms-flex-align: center;
    margin-bottom: 3em;
}

#block2::-webkit-scrollbar {
    width: 1em;
}

#block2::-webkit-scrollbar-thumb {
    background-color: #007AFF;
    border-radius: 10em;
}

#block2::-webkit-scrollbar-track {
    width: 0;
}

#block2 {
    border: none;
    border-radius: 15px;
    outline: none;
    text-align: center;
    background-color: white;
    width: 20em;
    /* overflow: auto; */
    box-sizing: border-box;
    height: 60vh;
    border: 3px solid gray;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);


}


#sub_btn {
    box-shadow: 0px 0.8px 1.5px rgba(0, 0, 0, 0.1), 0px 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
    background-color: #007AFF;

}

#number_button1 {
    display: flex;
    justify-content: center;
}

#number_button2 {
    display: flex;
    justify-content: center;
}

.block_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#method_id{
    background-color: #FFE4E8;
    border-radius: 5px;
    font-size:  1.5em;
    margin: 2em;
    margin-top: 1em;
    padding: 0.3em;
}
