html, body {
    margin: 0; /* 기본 여백을 제거합니다. */
    height: 100%; /* HTML과 BODY 요소의 높이를 100%로 설정합니다. */
}

#container1 {
    display: flex;
    justify-content: space-between;
    -ms-flex-align: center;
    border: 5px solid black;

}

.box {
    justify-content: center;
    margin-right: 3em;
    margin-left: 3em;
  
}

.answer {
    padding: 10px;
    text-align: center;
}

.block {
    border:none;
    border-radius: 10px;
    outline: none;
    text-align :center;
    background-color: #007AFF;
    height: 15vh;
    width: 20em;
    font-size: 1em;
    margin-top: 0.5em;

}

#block2 {
    border:none;
    border-radius: 10px;
    outline: none;
    text-align :center;
    background-color: #b9c622;
    width: 20em;
    overflow: auto;
    box-sizing: border-box; 
    height: 60vh;
   
    
}


#scoreboard{
    border: 5px solid red;
}
.note {
    display: flex;
    justify-content: space-around;
    border: 5px solid red;
    align-items: center;
}

input{
    border:none;
    border-radius: 10px;
    outline: none;
    font-size: 10em;
    width: 1em;
    text-align :center;
    background-color:#a71f1f;
}

#sub_btn{
    box-shadow: 0px 0.8px 1.5px rgba(0, 0, 0, 0.1), 0px 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
    background-color: #007AFF;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#block2::-webkit-scrollbar{
    width: 1em;
}
#block2::-webkit-scrollbar-thumb{
    background-color: #007AFF;
    border-radius: 10em;
}
#block2::-webkit-scrollbar-track{
    width: 0;
}
.title {
    display: flex;
    justify-content: center;
    height: 10em;
    margin-top: 3em;
}